.form-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #876ab6, #bac8e0);

  .form-input {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #cccccc;
    margin-bottom: 15px;
  }

  .name-input-container {
    display: flex;
    gap: 10px;
  }

  input::placeholder {
    color: #888888;
  }

  .register-form {
    padding: 40px;
    border-radius: 15px;
    background: #f3f4f6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: auto; /* Adjusted to match the login form's full width style */
  }

  .register-form-button {
    width: 100%;
    border-radius: 5px;
    background-color: #4a77d4;
    color: white;
    border: none;
    cursor: pointer;
    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }
  }

  .login-navigator {
    display: block;
    margin-top: 20px;
    text-align: center;

    &:hover {
      color: #b43cf1;
    }
  }

  nz-spin {
    margin-top: 20px;
  }
}

.red-text {
  color: #ff6b6b;
}
