.form-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #876ab6, #bac8e0);

  .form-input {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #cccccc;
    margin-bottom: 15px;
  }

  input::placeholder {
    color: #888888;
  }

  .login-form {
    padding: 40px;
    border-radius: 15px;
    background: #f3f4f6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .login-form-button {
    width: 100%;
    border-radius: 5px;
    background-color: #4a77d4;
    color: white;
    border: none;
    cursor: pointer;
    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }
  }

  .additional-options-container {
    display: flex;
    margin-top: 20px;
    color: rgb(18, 14, 14);

    .remember-me-container {
      margin-right: auto;

      #remember-me {
        vertical-align: middle;
        margin-left: 3px;
        cursor: pointer;
      }
    }

    .register-navigator {
      &:hover {
        color: #b43cf1;
      }
      margin-left: 10px;
    }
  }

  nz-spin {
    margin-top: 20px;
  }
}

.red-text {
  color: #ff6b6b;
}
